# Git
.git
.gitignore

# Entornos virtuales
venv/
.venv/
env/

# Archivos temporales de Python
__pycache__/
*.pyc
*.pyo

# Cuadernos de Jupyter (no se necesitan en producción)
notebooks/
.ipynb_checkpoints/

# Datos crudos (solo necesitamos los procesados para el mapeo)
data/raw/